/* The switch - the box around the slider */

.hide-elements {
  display:none;
}
.switchbox {
  margin-bottom: 20px;
}
#markmast-main-options .switchbox h3 {
  padding-top: 20px;
  display:block;
  margin-bottom: 15px;
}
.input-block {
  width: 100%;
  display:block;
  margin: 3px 0;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  max-width: 300px;
  border: 1px solid #d8d6d6;
}
.local-business label  {
  margin: 15px 0;
  display: block;
  cursor:default;
}
.openhours-example {
  font-size: 13px;
  color:#777;
}
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 22px;
  margin: 0;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

/*Form*/
label {
  cursor: pointer;
  margin: 15px 0;
  display: block;
  max-width: 300px;
}
#submit-btn {
  background: #2196F3;
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
form .checked {
  display: block !important;
}
#product_review_submit_btn {
  background: #2196F3;
  border: none;
  width: 200px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  margin-top: 15px;
}
select {
  height: 34px;
  max-width: 300px !important;
  width: 100%;
  display: block;
  border: 1px solid #8c8f94 !important;
}
.keys {
  margin-left: 5px;
  display: block;
}
.hidden-element {
  display: none;
}
.keys input {
  height: 28px;
  max-width: 240px;
}
